<div class="justify-content-center">
    <ion-button (viewDateChange)="viewDateChange.next(viewDate)"
                color="primary"
                fill="solid"
                [(viewDate)]="viewDate"
                [view]="view"
                class="flex-auto"
                mwlCalendarPreviousView>
        Previous
    </ion-button>
    <ion-button (viewDateChange)="viewDateChange.next(viewDate)"
                [(viewDate)]="viewDate"
                class="flex-auto"
                color="primary"
                fill="solid"
                mwlCalendarToday>
        Today
    </ion-button>
    <ion-button (viewDateChange)="viewDateChange.next(viewDate)"
                color="primary"
                fill="solid"
                [(viewDate)]="viewDate"
                [view]="view"
                class="flex-auto"
                mwlCalendarNextView>
        Next
    </ion-button>
</div>
<div class="justify-content-center">
    <h3>{{ viewDate | calendarDate: view + 'ViewTitle':locale }}</h3>
</div>