<ion-header translucent>
    <ion-toolbar>
        <ion-title>{{isNew ? 'New Appointment' : 'Edit Appointment'}}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismissModal()">
                <ion-icon name="close" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="appointmentFormGroup" (ngSubmit)="onSubmit()">
        <!-- Summary input field -->
        <ion-item>
            <ion-label position="floating">Summary</ion-label>
            <ion-textarea spellcheck="true"
                          debounce="500"
                          name="summary"
                          formControlName="summary"
                          placeholder="Enter summary here...">
            </ion-textarea>
        </ion-item>
        <div class="error-container"
             *ngIf="getControl('summary').invalid && (getControl('summary').dirty || getControl('summary').touched)">
            <app-error-message [formController]="getControl('summary')"></app-error-message>
        </div>

        <!-- Location input field -->
        <ion-item>
            <ion-label position="floating">Location</ion-label>
            <ion-textarea spellcheck="true"
                          debounce="500"
                          name="location"
                          formControlName="location"
                          placeholder="Enter location here...">
            </ion-textarea>
        </ion-item>
        <div class="error-container"
             *ngIf="getControl('location').invalid && (getControl('location').dirty || getControl('location').touched)">
            <app-error-message [formController]="getControl('location')"></app-error-message>
        </div>

        <!-- Start date selector -->
        <ion-item>
            <ion-label position="floating">Start Date</ion-label>
            <ion-datetime formControlName="startDate"
                          name="startDate"
                          placeholder="Enter start date"
                          [min]="minDate"
                          [max]="maxDate"
                          [displayFormat]="displayFormat"></ion-datetime>
        </ion-item>
        <div class="error-container"
             *ngIf="getControl('startDate').invalid && (getControl('startDate').dirty || getControl('startDate').touched)">
            <app-error-message [formController]="getControl('startDate')"></app-error-message>
        </div>

        <!-- End date selector -->
        <ion-item>
            <ion-label position="floating">End Date</ion-label>
            <ion-datetime formControlName="endDate"
                          name="endDate"
                          placeholder="Enter end date"
                          [min]="endDateMin"
                          [max]="maxDate"
                          [displayFormat]="displayFormat"></ion-datetime>
        </ion-item>
        <div class="error-container"
             *ngIf="getControl('endDate').invalid && (getControl('endDate').dirty || getControl('endDate').touched)">
            <app-error-message [formController]="getControl('endDate')"></app-error-message>
        </div>

        <!-- Form action buttons -->
        <ion-buttons class="justify-content-center">
            <ion-button class="flex-auto" name="submit" fill="solid" color="primary" type="submit">Save</ion-button>
            <ion-button class="flex-auto" name="reset" fill="solid" type="reset">Reset</ion-button>
        </ion-buttons>
    </form>
</ion-content>