<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            WPF Calendar
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="presentModal()">
                <ion-icon name="add" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <app-calendar-header
            [(view)]="view"
            [(viewDate)]="viewDate"
            (viewDateChange)="this.fetchAppointments()">
    </app-calendar-header>

    <mwl-calendar-month-view
            [viewDate]="viewDate"
            [events]="appointments"
            [refresh]="refresh"
            [activeDayIsOpen]="activeDayIsOpen"
            (dayClicked)="dayClicked($event.day)"
            (eventClicked)="appointmentClicked($event.event)"
    >
    </mwl-calendar-month-view>

</ion-content>
